<!DOCTYPE html>
<html>
  <head>
    <title>Letsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/64b60bd2e5.js" crossorigin="anonymous"></script>
 
  <script type="text/javascript">
        window.paymentImage = "<%= image_url('payment.png') %>";
  </script>
  

  </head>

  <body>
    <%= yield %>
  </body>
</html>
