<!DOCTYPE html>
<html>
  <head>
    <title>Letsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/64b60bd2e5.js" crossorigin="anonymous"></script>
 
  <script type="text/javascript">
        window.paymentImage = "<%= image_url('payment.png') %>";
        window.marwaTopIcon = "<%= image_url('marwaTopIcon.jpg') %>";
        
  </script>
  
 

   <meta property="og:image" content="<%= image_url('thumb.png') %>" />
    <meta property="og:title" content="Letsy" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Letsy is a clone of Etsy. It allows users to sell and buy handmade and vintage products." />


  </head>

  <body>
    <%= yield %>
  </body>
</html>
